<h1><%= @department.name.upcase %></h1>
<%# Note add nav bar with CRUD functions here %>
<hr>
<%= link_to "New Item", new_department_item_path%>
<br>
<br>
<% @items.each do |item| %>
  <h5><%= link_to "#{item.name}", department_item_path(@department, item) %><h5><p>$<%= item.price %><p>
  <% end %>
